vrrp_script check_haproxy {
    # path-to-check-script                 
    script "/home/keepalived_script/keepalived_script" 
    weight 20                              
    interval 1               
}
vrrp_instance XXX {             
    interface ens3
    virtual_router_id 1
    {% if inventory_hostname == 'VladyslavaSh-1' %}
    priority 100
    {% else %}
    priority 99
    {% endif %}
    advert_int 1
    # 42 -> 100, 43 -> 101                            
    virtual_ipaddress {                     
        192.168.100.{{ hostvars['VladyslavaSh-1']['ansible_default_ipv4']['address'].split('.')[-1] }}/24                   
    }
#    unicast_peer {                          
#        192.168.43.80
#    }

    unicast_peer {
    {% for vm in (groups['haproxy']|reject('equalto', inventory_hostname)) %}
    {{ hostvars[vm]['ansible_default_ipv4']['address'] }}
    {% endfor %}
    }

    track_script {
        check_haproxy
    }
}
