[Unit]
Description=Keepalived Exporter Service
Documentation=https://google.com
After=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/prometheus-keepalived-exporter

[Install]
WantedBy=multi-user.target
