zone "{{ startup_name }}" {
{% if inventory_hostname in groups['dns_masters'] %}
    type primary;
    allow-transfer { key transfer_key; };
    allow-update { key update_key; };
{% else %}
    type secondary;
    masters { {{ hostvars[groups['dns_masters'][0]]['ansible_default_ipv4']['address'] }}; };
{% endif %}
    file "db.{{ startup_name }}";
};

{% if inventory_hostname in groups['dns_slaves'] %}
server {{ hostvars[groups['dns_masters'][0]]['ansible_default_ipv4']['address'] }} {
    keys { transfer_key; };
};
{% endif %}



zone "{{ reverse }}" {
{% if inventory_hostname in groups['dns_masters'] %}
    type primary;
    allow-transfer { key transfer_key; };
    allow-update { key update_key; };
{% else %}
    type secondary;
    masters { {{ hostvars[groups['dns_masters'][0]]['ansible_default_ipv4']['address'] }}; };
{% endif %}
    file "db.rev";
};
