acl lan {192.168.42.0/23; 127.0.0.0/8; 172.17.0.0/16;};


options {
        directory "/var/lib/bind";

        forwarders {
        {% for fwrd in forwarders %}
        {{ fwrd }};
        {% endfor %}
        };

        dnssec-validation no;

        allow-query {
            lan;
        };

        listen-on-v6 { any; };
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

# transfer.key is used to authenticate slave on master
key "transfer.key" {
        algorithm hmac-sha256;
        secret "{{ transfer_key }}";
};

key "nsupdate.key" {
        algorithm hmac-sha256;
        secret "{{ update_key }}";
};
