global:
  scrape_interval: 30s
  evaluation_interval: 5s
  external_labels:
    env: production
scrape_configs:
  - job_name: prometheus
    scrape_interval: 5m
    static_configs:
      - targets: groups['all']
   - job_name: linux
   static_configs:
      - targets: groups['all']
  
